#navbar{
    margin: 10px;
    padding: 5px;
}
a{
    margin: 10px;
}
article{
    display: inline-block;
    border: solid 1px black;
    vertical-align: top;
    width: 30%;
    margin: 1% auto;
    height: 300px;
}
img{
    width: 100%;
    height: auto;
    margin: 10px 0;
}