<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
        <link rel="stylesheet" href="~/css/projects_style.css">
</head>
<body>
    <div id="navbar">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>

    <article>
        <h2>Project 1</h2>
        <img src="~/images/beer1.jpg" alt="image">
        <p>A blonde ale fermented with a special strain of yeast, then aged in French oak chardonnay barrels. Flavors of wine and oak absorb into the brew throughout twelve months of aging. During this aging process, a secondary fermentation occurs using a yeast strain disliked by most brewers and winemakers called Brettanomyces.</p>
    </article>
    <article>
        <h2>Project 2</h2>
        <img src="~/images/beer2.jpg" alt="image">
        <p>Intense clove flavors attack the plate. One side stays spicy, and the other shows a maltiness and sweetness. Some tropical fruitiness; strong, fresh apple and bubble-gum notes; and more biting phenols meet in the middle, like a train wreck. Peppery and bitey yeast, with an unpleasant pithy and tannic astringency. Smacks of lager-esque sourness, under a faint lemon.</p>
    </article>
    <article>
        <h2>Project 3</h2>
        <img src="~/images/beer3.jpg" alt="image">
        <p>Lammin Sahtia pours a very hazy, dirty peach color with tons of remaining sediment in the bottle. The head is vigorous but quickly snaps down to a thin, wispy lace. There isn't much head retention, but you can see the tight bubbles surface. Aroma is uniquely pungent, with plenty of pine tones, hints of menthol, herbs and a vaguely medicinal undercurrent.</p>
    </article>




</body>
</html>